extends ../layouts/template.pug

block head
  include ../mixins/dynamic-resource-mixin.pug
  link(rel="stylesheet", href="/styles/resource-list.css") 
  link(rel="stylesheet", href="/styles/certifications.css") 

block content
  .content-container
    h1= title 
      script.
        window.categoryArticles = JSON.parse(decodeURIComponent('!{encodeURIComponent(JSON.stringify(content))}'));
        window.sortingOptions = JSON.parse(decodeURIComponent('!{encodeURIComponent(JSON.stringify(sortingOptions))}'));
        window.filteringOptions = JSON.parse(decodeURIComponent('!{encodeURIComponent(JSON.stringify(filteringOptions))}'));
        window.currentCategoryIdentifier = '!{category}';
        window.tableColumns = JSON.parse(decodeURIComponent('!{encodeURIComponent(JSON.stringify(tableColumns))}'));
    script(src="/js/problem-search.js" defer)

    .search-container
      label(for='article-search') Search:
      input#article-search(type='text', placeholder='Type to search for a problem, by: ID number (#123), tag (#array), or title (two sum)');
    // --- Article List Container (Always a Table for this template) ---
    #article-list-container.resource-list-container
      if content && content.length > 0
        // Use the tableColumns defined in the manifest for this category
        +dynamicResourceTable(content, tableColumns, category)
      else
        p No content found for this category (from problem-category.pug).