mixin certificationTable(rows)
  table#certifications-table
    thead
      tr
        th(data-column="domain") Domain
        th(data-column="orgName") Issuing Organization
        th(data-column="certName") Certification Name
        th(data-column="Certification Date") Certification Date 
        th(data-column="Expiration Date") Certification Expiration Date
        th(data-column="description") Description

        //th(data-column="price") Price
    tbody
      each row in rows
        tr
          td(data-column="domain" data-label="Knowledge Domain") #{row.domain}
          td(data-column="orgName" data-label="Issuing Organization") #{row.orgName}
          td(data-column="certName" data-label="Certification Name") 
            a(href=row.link, target="_blank") #{row.certName} 
          td(data-column="earnedDate" data-label="Certification Date") #{row.earnedDate}
          td(data-column="expirationDate" data-label="Certification Expiration Date") #{row.expirationDate}
          td(data-column="description" data-label="Description") #{row.description}

          //td(data-column="price" data-label="Price") $#{row.price}

